.cls-1 {
  stroke-linecap: round;
  stroke-miterlimit: 10;
  fill-rule: evenodd;
  fill: none;
  stroke-width: 2px;
}

svg {
  animation: bob 1s ease-in-out infinite;
  opacity: 0;
  animation-delay: 1.5s;
}

@keyframes bob {
  0%,
  100% {
    transform: translateY(-3.75px);
    opacity: 0;
  }
  50% {
    transform: translateY(3.75px);
    opacity: 1;
  }
}
